<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/landing.css">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <img class="title-img" src="../static/res/checked.png">
            <div class="title-text">Welcome</div>
        </div>
        <div class="margin-area"></div>
        <div class="container">
            <button class="button-signup" onclick="location.href = '/login?selected=signup'">Sign up</button>
            <div class="margin-area"></div>
            <button class="button-signin" onclick="location.href = '/login?selected=signin'">Sign in</button>
        </div>
    </div>
</body>
</html>