<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="content-container">
        <form id="signup-form" action="/signup" method="POST">
            <h1 class="login-title">Sign up</h1>
            <input class="device-id" hidden name="device_id" value=""> 
            <div class="input-container">
                <label for="user_name" class="login-label">Name</label>
                <input type="text" class="login-input" name="user_name">
            </div>
            <div class="input-container">
                <label for="user_id" class="login-label">ID</label>
                <input required type="text" class="login-input" name="user_id">
            </div>
            <div class="input-container">
                <label for="user_password" class="login-label">Password</label>
                <input required type="password" class="login-input" name="user_pw">
            </div>
            <div class="button-container">
                <button id="signup-submit" class="submit-button">Submit</button>
            </div>
        </form>
        <form id="signin-form" action="signin" method="POST">
            <h1 class="login-title">Sign in</h1>
            <input required class="device-id" hidden name="device_id" value=""> 
            <div class="input-container">
                <label for="user_id" class="login-label">ID</label>
                <input required type="text" class="login-input" name="user_id">
            </div>
            <div class="input-container">
                <label for="user_password" class="login-label">Password</label>
                <input required type="password" class="login-input" name="user_pw">
            </div>
            <div class="button-container">
                <button id="signin-submit" class="submit-button">Submit</button>
            </div>
        </form>
    </div>
    <script src="../static/js/login.js" type="module"></script>
</body>
</html>