<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/subjects.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>subject</title>
</head>
<body>
    <header>
        <div class="title-area">
            <img id="header-logo-img" src="../static/res/checked.png">
            <div class="app-title">Item list</div>
        </div>
        <button class="add-button" onclick="dialogHandler('add', 'open')">Add</button>
    </header>
    <!-- add dialog start -->
    <div id="add-dialog-fade" class="dialog-fade" onclick="dialogHandler('add', 'close')">
        <div class="dialog-position-margin-area"></div>
        <div class="center-container">
          <form id="add-form" method="POST" charset="utf-8" action="/add/subjects">
            <div id="add-dialog-bg" class="dialog-content-container">
              <div class="center-container">
                <div class="dialog-content-margin-area"></div>
                <label class="dialog-label">Subject name</label>
                <input required id="add-dialog-input-item" type="text" name="subject_name" class="input-text">
                <div class="dialog-content-margin-area"></div><div class="dialog-content-margin-area"></div>
                <label class="dialog-label">Description</label>
                <textarea required id="add-dialog-input-item" type="text" name="subject_description" class="textarea-text"></textarea>
                <div class="dialog-content-margin-area"></div>
              </div>
            </div>
            <div id="add-dialog-button" class="dialog-content-container" style="margin-top: 0.3rem;">
              <button class="dialog-content-button" onclick="dialogHandler('add', 'close')">Cancel</button>
              <div class="dialog-line-vertical"></div>
              <button id="add-apply-button" type="submit" class="dialog-content-button apply-button">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <!-- add dialog end -->
    <main>
        <form id="item-container" class="item-container"> 
        </form>
    </main>
</body>
<script type="module" src="../static/js/subjects_page/subjects.js"></script>
</html>