<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/subjects.css">
    <title>subject</title>
</head>
<body>
    <header>
        <div class="title-area">
            <img id="header-logo-img" src="../static/res/checked.png">
            <div class="app-title">Item list</div>
        </div>
        <button class="add-button">Add</button>
    </header>
    <main>
    </main>
    <form id="item-container" class="item-container">
        <div class="subject-container">
            <div class="title-line-container">
                <div class="title-container">
                    <div class="subject-title-text">title</div>
                    <div class="subject-date-text">2025.01.10</div>
                </div>
                <button class="subject-menu-button">
                    <img class="subject-menu-button-img" src="../static/res/menuIcon.png">
                </button>
            </div>
            <div class="subject-description-text">asdfasdf</div>
            <hr class="subject-divide-line">
            <div class="bottom-line-container">
                <div class="item-preview-text">item1, item2, item3</div>
                <div class="process-counter-text">36/47</div>
            </div>
        </div>
    </form>
</body>
<script type="module" src="../static/js/subjects_page/subjects.js"></script>
</html>